html {
	height: 100vh;
	width: 100vw;
	background-image: url('../Assets/gym-wallpapers-3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
	/* background-color: black; */
}

.landing-page-container.fade-back {
	opacity: .5;
}

.landing-page-container {
	display: block;
	text-align: center;
	padding-top: 100px;
	width: 100vw;
	opacity: 1;
	transition: 1s;
}

.work-it-out-body {
	margin-top: 0px;
	margin-bottom: 100px;
	position: relative;
	/* width: fit-content;
	margin: 0 auto; */
}

.what-is {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	border-radius: 7px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #00AB89;
}

.what-is p {
	color: black;
}

@media only screen and (max-width: 500px) {

	.what-is {
		width: 350px;
	}

	html {
		background-size: auto;
	}

}


