.calendar-container {
    display: block;
    margin: 50px auto;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    height: calc(100% - 75px);
    width: 100%;
    padding-left: 0;
}

.title-chest, .title-shoulders, .title-biceps, .title-triceps, .title-abs, .title-back {
    background-color: #39646B;
}

.title-legs, .title-glutes {
    background-color: #B8733D;
}
