
h2, .logo {
    color: #00AB89;
    text-decoration: none;
}

.fa-dumbbell {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.work-it-out-heading-container {
    height: 100px;
    margin-top: -10px;
    margin-left: 0px;
    background-color: black;
    border-bottom: solid 1px gray;
    opacity: .8;
    width: 100%;
}

.work-it-out-heading {
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: 20px;
    /* width: fit-content;
    margin: 0 auto; */
}