* {
    color: white;
}

.hamburger-options-container {
    width: 15%;
    background-color: black;
    height: 100vw;
    position: fixed;
    left: -15%;
    top: 101px;
    z-index: 20;
    opacity: 1;
    transition: 1s;
}

.hamburger-options-container.slide-in {
    left: 0%;
}

.link {
    text-decoration: none;
}

.link:hover, button:hover {
    text-decoration: underline overline  #00AB89;
    transform: scale(1.04);
}

.hamburger-all-container {
    position: relative;
    width: 15%;
    bottom: 110px;
}

button {
    margin-bottom: 25px;
    display: block;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
    margin: 40px auto;
}

.hamburger {
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 25px;
    cursor: pointer;
    position: fixed;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }



